snippet cc
 // ARM11C `system("date +%Y%m%d")`
 
snippet cc1
 // ARM11C `system("date +%Y%m%d")` ${1:write your comment}
 
snippet cc2
 // start ARM11C `system("date +%Y%m%d")` ${1:write your comment}
 // end ARM11C `system("date +%Y%m%d")` $1
